// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

// Define fonts for body and headers
$body-font: 'Open Sans Condensed', "sans-serif";
$headers-font: 'Italianno', "cursive";