body {
	background-color: $background-wh;
}
.main-title {
	font-family: $headers-font;
	font-size: 4em;
}
.creations {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.creations > p {
	font-size: 1.2em;
	font-weight: 200;
}