<div class="row justify-content-center align-items-center">
  <div class="col-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-pic">
        <div class="carousel-item active">
          <%= image_tag "fingers-cacahueetes-small.png", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "tout-choco-small.png", class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
          <%= image_tag "vitrine-gateaux-small.png", class: 'd-block w-100' %>
        </div>
      </div>
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
    </div>
  </div>
</div>
