<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'macarons-banner.jpg'%>)">
	  <h1 class='text-right mr-5'>La Bulle Sucrée</h1>
	  <h3 class='text-right mr-5'>Pâtisserie & Salon de thé à Lorgues</h3>
</div>

<div class="container">

	<div class="row d-flex flex-column align-items-center justify-content-center">

		<div class="creations col-lg-12 col-sm-12">
	  	<h3 class='text-center main-title'>Nos créations</h3>
			<%= render 'carousel' %>
			<p class='text-center mt-5 mb-4'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptas, incidunt laborum est vero impedit magni eum culpa labore animi id debitis omnis expedita. Possimus sunt cumque, facilis architecto veritatis!</p>
	  </div>

	  <div class="products">
	  	<div class="row col-md-pull-4">
		  	<div class="products-presentation pl-2 mt-4 mb-4 pb-4 col-md-push-8">
		  		<h3>Nos produits</h3>
		  		<p>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Mollitia eaque, quae. Ducimus maiores cum similique provident alias voluptatem dignissimos</p>
		  	</div>
	  	</div>
	  </div>
	</div>



</div>






