.carousel {
	max-width: 50%;
}
@media only screen and (min-width : 321px) and (max-width: 620px) {
/* Styles */
	.carousel {
		max-width: 100%;
	}
}
.carousel-inner {
	border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}