.navbar {
  background-color: $background-wh;
  font-family: $body-font;
  color: $dark-font;
}
.nav-title {
  font-family: $headers-font;
  font-size: 2em;
  color: $dark-font;
  margin-bottom: 0;
}

.navbar-collapse {
  padding: 0;
  font-size: 1.3em;
}
.nav-item {
  padding-right: 3em;
}